html,
body {
  background-color: #f4f8fa;
  margin: 0;
  padding: 0;
}

i {
  display: inline;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/*login UI*/
.material-icons.md-48 {
  font-size: 48px;
}

.material-icons.md-dark.md-inactive {
  color: rgb(88, 132, 252);
}

.login-zone {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  position: relative;
  width: 420px;
  height: 300px;
  box-shadow: 0px 0px 30px 3px rgba(0, 0, 0, 0.05);
  background-color: #fff;
  text-align: center;
  border-radius: 1rem;
}

.login span {
  padding-top: 2rem;
}

.login h3 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  font-size: 24px;
  margin: 0;
  padding-top: 0.5rem;
}

.login p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #afafaf;
  margin: 0;
  padding: 0.5rem;
}

.login-btn {
  display: inline-block;
  width: 260px;
  height: 40px;
  background-color: #edf0f1;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border-radius: 0.5rem;
  z-index: 1000;
  margin-top: 0.5rem;
  color: #afafaf;
  line-height: 36px;
}

.login-btn:hover {
  background-color: rgb(88, 132, 252);
  cursor: pointer;
  color: #fff;
}

.google-login {
  margin-top: 1rem;
}

/*Home UI*/
.home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/*header*/
.header {
  flex: 1;
}

.header-zone {
  width: 100%;
  height: 100px;
  background-color: #fff;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.04);
  display: flex;
}

.header-zone h1 {
  flex-grow: 1;
  margin: 0;
  line-height: 95px;
  padding-left: 2rem;
  color: rgb(88, 132, 252);
  font-size: 36px;
}

.header-zone span {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 0;
}

.header-zone .sign-out {
  color: #b5b5b5;
  margin-top: 2.5rem;
  padding-right: 2rem;
}

.header-zone .sign-out:hover {
  color: #202020;
  cursor: pointer;
}

/*content*/
.content {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.edit {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.edit-default-zone {
  display: flex;
  justify-content: center;
  width: 480px;
  height: 330px;
  background-color: #fff;
  margin-top: 3rem;
  margin-left: auto;
}

.edit-default-zone .form {
  display: inline-block;
  width: 85%;
}

.edit-default-zone .form input:first-child {
  margin-top: 3rem;
}

.edit-default-zone .form input {
  width: 100%;
  height: 35px;
  border: 0;
  background: #f4f8fa;
  box-shadow: inset 2px 2px 8px rgba(0, 0, 0, 0.1);
  margin-top: 0.6rem;
}

.edit-default-zone .form .theme {
  display: inline-block;
  width: 35%;
  height: 35px;
  background: #242930;
  margin-top: 0.6rem;
  padding: 0.3rem;
  border: 0;
  text-align: left;
  font-size: 16px;
  color: #c4c4c4;
  font-weight: 200;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.edit-default-zone .form .pick input {
  display: none;
}

.edit-default-zone .form .pick button {
  width: 35%;
  height: 35px;
  background: #242930;
  border: 0;
  margin-left: 0.5rem;
  padding: 0.3rem;
  text-align: left;
  font-size: 16px;
  color: #c4c4c4;
  font-weight: 200;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.edit-default-zone .form .pick button:hover {
  cursor: pointer;
}

.edit-default-zone .form .delete-button button {
  width: 25%;
  height: 35px;
  background: #5884fc;
  border-radius: 17.5px;
  border: 0;
  margin-left: 0.7rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  color: #fff;
  font-weight: 200;
}

.edit-default-zone .form .delete-button button:hover {
  cursor: pointer;
}

/**/
.edit-add-zone {
  display: flex;
  justify-content: center;
  width: 480px;
  height: 330px;
  background-color: #c3c5c9;
  margin-top: 3rem;
  margin-left: auto;
}

.edit-add-zone .form {
  display: inline-block;
  width: 85%;
}

.edit-add-zone .form input:first-child {
  margin-top: 3rem;
}

.edit-add-zone .form input {
  width: 100%;
  height: 35px;
  border: 0;
  background: #f4f8fa;
  box-shadow: inset 2px 2px 8px rgba(0, 0, 0, 0.1);
  margin-top: 0.6rem;
}

.edit-add-zone .form .theme {
  display: inline-block;
  width: 35%;
  height: 35px;
  background: #242930;
  margin-top: 0.6rem;
  padding: 0.3rem;
  border: 0;
  text-align: left;
  font-size: 16px;
  color: #c4c4c4;
  font-weight: 200;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.edit-add-zone .form .pick input {
  display: none;
}

.edit-add-zone .form .pick button {
  width: 35%;
  height: 35px;
  background: #242930;
  border: 0;
  margin-left: 0.5rem;
  padding: 0.3rem;
  text-align: left;
  font-size: 16px;
  color: #c4c4c4;
  font-weight: 200;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.edit-add-zone .form .pick button:hover {
  cursor: pointer;
}

.edit-add-zone .form .add-button button {
  width: 25%;
  height: 35px;
  background: #fff;
  border-radius: 17.5px;
  border: 0;
  margin-left: 0.7rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  color: #242930;
  font-weight: 200;
}

.edit-add-zone .form .add-button button:hover {
  background-color: #5884fc;
  color: #fff;
  cursor: pointer;
}

.card {
  flex: 1;
}

/*footer*/
.footer {
  flex: 1;
}

.footer-zone {
  width: 100%;
  height: 150px;
  background-color: #242930;
  text-align: center;
}

.footer p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  font-weight: 100;
  color: #e5e5e5;
  opacity: 0.5;
  padding-top: 1rem;
}

.footer li {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  color: #e5e5e5;
  font-weight: 300;
  padding-top: 0.3rem;
}

.footer ul {
  margin: 0;
  padding: 0;
}

.footer li a {
  color: #e5e5e5;
}
